
@keyframes picturechange {

    from { 
        background-image: url(bed.jpg);
    }

    20% {
         background-image: url(retired.jpg);
        }

    40% { 
        background-image: url(spices.jpg);
    }
    60% {
        background-image: url(family.jpg);
    }

    80% {
        background-image: url(chinesefood.jpg);
    }
    to {
        background-image: url(bed.jpg);
    }
}

* {
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    background-size: cover;
    /* reverse both running */
    animation-delay: -1s;
    animation: 15s ease-in 7s infinite picturechange;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

/* hack, how to optimize? */
header {
    margin-left: 150px;
    margin-right: 150px;
}

header > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header > ul > li:first-child {
    flex-grow: 2;
}

li {
    margin: 10px;
    list-style: none;
    font-size: 3rem;
    color: silver;
}

input {
    font-size: 1rem;
    border-radius: 5px;
    color: red;
    padding: 5px;
    position: relative;
    bottom: 10px;
}

input:hover {
    background-color: red;
    color: white;
    padding: 5px;
    font-size: 1rem;
}

.lang {
    visibility: hidden;
    background-color: orange;
}

.categories {
    visibility: hidden;
    background-color: orange;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.categories > ul > li:first-child {
    font-size: inherit;
}

.categories > ul {
  
    color: black; 
}

.categories > ul > li {
    color: black;
    font-size: .75rem;
}

a {
    text-decoration: none;
    color: black;
}

.call-to-action {
    visibility: hidden;
    background-color: orange;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 2px solid silver;
}

.get-app > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.stay-social > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.cookie {
    display: flex;
    flex-direction: column;
    justify-content: center;
}